
<style>form div { padding: 10px;}</style>

<h2 align="center">Enter Restaurant Details</h2>

<ul id="new-restaurant-errors">
<% if @restaurant.errors.any? %>
  <% @errors.each do |message| %>
    <dt><%= message %></dt>
  <% end %>
<% end %>
</ul>


 <form action="/restaurants" method="post" align="center">
  <div>
    <label for="username">Name</label>
    <input id="username" name="restaurant[name]" type="text"/>
  </div>
    <div>
    <label for="cuisine">Cuisine</label>
    <input id="cuisine" name="restaurant[cuisine]" type="text"/>
  </div>
    <div>
    <label for="addresss">Address</label>
    <input id="addresss" name="restaurant[address]" type="text"/>
  </div>
  <div>
    <label for="description">Description</label>
    <input id="description" name="restaurant[description]" type="text"/>
  </div
  <div>
    <label for="city">City</label>
    <input id="city" name="restaurant[city]" type="text"/>
  </div>
  <div>
    <label for="state">State</label>
    <input id="state" name="restaurant[state]" type="text"/>
  </div>
   <div>
    <label for="state">Zip</label>
    <input id="state" name="restaurant[zip]" type="text"/>
  </div>
  <div>
    <input name="commit" type="Submit" value="Add Restaurant">
  </div>
</form>
